<!-- FOOTER -->
      <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4" id="endereco">
                    <section class="section-rodape"><h2>Localização:</h2>
                        <div>
                            <address>
                                <ul class="endereco">
                                    <li>Rua Álvares de Azevedo, 0016 - Bomfim.</li>
                                    <li>CEP 40423-080</li>                                
                                    <li>Salvador/BA - Brasil</li>
                                </ul>
                                
                            </address>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6 col-md-4 " id="contato">
                    <section class="section-rodape"><h2>Contato:</h2>
                        <div>
                            <address>
                                <ul class="contato">
                                    <li>(071) 3333-3333</li>
                                    <li>centro.casadejesus@gmail.com</li>
                                   
                                </ul>                    
                            </address>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6 col-md-4 ">
                    <section class="section-rodape"><h2>Compartilhar:</h2>
                        <div>
                            <address>
                                <ul class="redessociais">
                                    <li>
                                      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcasadejesus.bl.ee/" title="Compartilhe este site no Facebook!" target="new"><img src="img/ico-facebook.png"></a>
                                    </li>
                                    <li><img src="img/ico-twitter.png"></li>
                                    <li><img src="img/ico-googleplus.png"></li>
                                </ul>                    
                            </address>
                        </div>
                    </section>              
                </div>
            </div>
        </div>
      </footer>
